body {
  margin: 0;
}

#navbar {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
}

#navbar a {
  text-decoration: none;
  color: white;
  padding: 0 2vw;
}

#pokemonHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(196, 149, 240);
  border-radius: 5%;
  box-shadow: 2px 2px 2px black;
  margin-bottom: 25px;
  
  
}

#pokemonHolderHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 25px;
  margin-top: 25px;
}

#pokemonHolder img {
  height: 300px;
  width: 300px;
}

#sidebar {
  background-color: azure;
  padding: 3%;
}

#teamHolder {
  justify-content: space-around;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
